services:
  db:
    image: mysql:latest
    container_name: mysqlV2
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: DevOpsV2
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadminV2
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "8080:80"

  backend:
    build: ./Back-End
    container_name: backendV2
    restart: unless-stopped
    environment:
      PORT: 4000
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: user
      DB_PASSWORD: 1234
      DB_NAME: DevOpsV2
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./Font-End
    container_name: frontendV2
    restart: unless-stopped
    ports:
      - "4173:80"
    depends_on:
      - backend

volumes:
  mysql_data:
    driver: local